:root {
  --primary-color: #7E00A7;
  --light-color:#FCF5FF;
  --title-color:#000000;
  --text-color:#959BAC;
  --border-color:#454C63;
  --font:'Istok Web', sans-serif;
  --theme-light:#DBC0E5;
}


.top-limited{
    color: var(--theme-light);
}



.top-offer-bar {
    background: #000;
    font-size: 0.9rem;
    font-family: var(--font);
}



/* BUTTON STYLES */
.btns{
 
    padding: 7px 36px;
}
.nav-item{
     font-size: 0.9rem !important;
     font-family: var(--font);
font-weight: 400;
font-style: Regular;
/* font-size: 14px; */
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;


}
.btn-purple {
    background-color: var(--primary-color) !important;
    color: white;
    border-radius: 6px;
    font-weight: 400;
     font-family:var(--font);
}

.btn-outline-purple {
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    font-weight: 500;
    color: '#000000';
     font-family: var(--primary-color);
}

.btn-outline-purple:hover {
    background: #7E00A7;
    color: white;
}

/* SEARCH BAR */

.search-bar {
    position: relative;
    /* min-width: 350px; */
    min-width: 35% !important;

 
border-width: 1px;
border-radius: 10px;
border: 1px solid #454C63 !important;
color: var(--text-color) !important;

font-family: var(--font);
font-weight: 400;
 
font-size: 15px;
 
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

}

.search-bar input {
    
    /* padding-left: 35px; */
    height: 42px;
    border: 1.5px solid #d6d6d6;


    font-family: var(--font);
font-weight: 400;
/* font-size: 14px; */
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

}

.search-bar .search-icon {
    position: absolute;
    font-size: 1.1rem;
    color: gray;  
}

/* NAV LINKS */
.nav-link {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--title-color);
    margin-right: 20px;
}

/* .nav-link:hover {
    color: #6C2FDB !important;
} */

@media (max-width: 576px) {
  .hero-title {
    font-size: 1.8rem;
  }
}   




@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1240px;
  }
}
/* @media (min-width: 1350px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px;
  }
} */
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1350px;
  }
}


/* ------------------------------------------------------------------------ */

 
        /* .left-section {
            padding: 60px;
        } */

        /* .left-section h2 {
            font-weight: 700;
            font-size: 32px;
        }

        .left-section p {
            width: 70%;
            color: #6d6d6d;
            margin-top: 10px;
        } */

        .auth-box {
            background: white;
            border-radius: 10px;
            padding: 50px 50px 15px;
            /* box-shadow: 0px 0px 12px rgba(0,0,0,0.05); */
            background: #FCF5FF;


        }

        .otp-input {
            width: 50px;
            text-align: center;
            font-size: 20px;
        }

        .google-btn {
            border: 1px solid #d1d1d1;
            padding: 10px;
            border-radius: 8px;
            background: white;
            cursor: pointer;
        }

        .google-btn img {
            width: 22px;
            margin-right: 10px;
        }

        .proceed-btn {
            background: #8a2be2;
            border: none;
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            color: white;
            font-weight: 600;
            margin-top: 15px;
        }

        .signup-text a {
            color: #8a2be2;
            text-decoration: none;
            font-weight: 600;
        }

        @media (max-width: 992px) {
            .left-section p {
                width: 100%;
            }
        }
     

.title{
    font-family: var(--font);
font-weight: 700;
font-style: Bold;
font-size: 28px;
leading-trim: NONE;
line-height: 34px;
letter-spacing: 0%;
vertical-align: middle;
color: var(--title-color);

}        


.auth-title{
    font-family: var(--font);
font-weight: 700;
font-style: Bold;
font-size: 24px;
leading-trim: NONE;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: var(--title-color);

}

.content{
    font-family: var(--font);
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 23px;
letter-spacing: 0%;
vertical-align: middle;
color: #959BAC;

}


.form-control{
 
height: 43px;
opacity: 1;

border-width: 1px;
border-radius: 10px;
border: 1px solid #454C63 !important;
color: var(--text-color) !important;

font-family: var(--font);
font-weight: 400;
 
font-size: 15px;
 
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;



}

.form-control:focus-visible , .form-control:focus{
    box-shadow: none !important;
    border-color: none !important;
}

.mid-text{
    font-family: var(--font);
font-weight: 700;
font-style: Bold;
font-size: 15px;
leading-trim: NONE;
line-height: 9px;
letter-spacing: -1%;
vertical-align: middle;
color:  var(--primary-color);

}

.second-input:focus-visible{
    outline: none !important;
}

.bg-round{
    background: var(--primary-color);
}